.App{
    margin: 0px auto;
    background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
.starts{
    margin: 10px auto;
}

.comment{
    margin: 5vh;
}
